# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 
Output : [(5, 6, 7, 8), (6, 10), (7, 13)] 
```

In [23]:
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)] 

dic={}

for tup in test_list:
    if tup[0] not in dic:
        dic[tup[0]] = [tup[1]]
    else:
        dic[tup[0]].append(tup[1])
    
result = [(key,*dic[key]) for key in dic]

print(result)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result. 


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication : 

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [2]:
tup =(1,5,7,8,10)
ans=[]

for i in range(len(tup)):
    if i == 0:
        ans.append(tup[i]*tup[i+1])
    elif i == len(tup)-1:
        ans.append(tup[i]*tup[i-1])
    else:
        ans.append(tup[i]*tup[i-1]+tup[i]*tup[i+1])
    
print(ans)

[5, 40, 91, 136, 80]

In [24]:
ot = (1, 5, 7, 8, 10)
rt = []

for i in range(len(ot)):
    left_sum=sum(ot[:i]) *ot[i]
    right_sum=sum(ot[i+1:]) * ot[i]
    rt.append(left_sum+right_sum)
    

print(rt)

[30, 130, 168, 184, 210]

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [25]:
t1 = (1,2,3,0)
t2 = (0,1,2,3)

if t1 == t2:
    print("t1 and t2 are same")
else:
    print("t1 and t2 are not same")

t1 and t2 are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [26]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

num_list=0
num_set=0
num_tuples=0

for i in list1:
    if type(i) == list:
        num_list +=1
    elif type(i) == set:
        num_set +=1
    elif type(i) == tuple:
        num_tuples+=1
        
print("list-",num_list)
print("set -",num_set)
print("tuples-",num_tuples)

list- 2
set - 2
tuples- 1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [27]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]


set1=set(ar1)
set2=set(ar2)
set3=set(ar3)

output=list(set1 & set2 & set3)

print(output)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [28]:
str1= "hands-on data science mentorship rogrAm with live classes at affordable fee only on CampusX"

str1=str1.lower()

vowels=set("aeiou")

unique_vowels = set()

for i in str1:
    if i in vowels:
        unique_vowels.add(i)
        
count_vowels_unique = len(unique_vowels)

print("no of unique vowels :",count_vowels_unique)

no of unique vowels : 5

### `Q3:` Write a program to Check if a given string is binary string of or not. 

A string is said to be binary if it's consists of only two unique characters.

Take string input from user. 

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [30]:
str1 = input("Enter a string: ")

unique_str = set(str1)

if len(unique_str)==2:
    print("yes")
else:
    print("no")

Enter a string: dffvrg
no

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [31]:
input_array=[[1, 2, 2, 4, 3, 6],[5, 1, 3, 4],[9, 5, 7, 1],[2, 4, 1, 3]]

unique_set=set()


for i in input_array:
    unique_set.update(i)
    
output_array=sorted(list(unique_set))

print(output_array)

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [32]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}


output=(list(lst1  & lst2))

print(output)

[9, 10, 4, 5]

In [33]:
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}

output=(list(lst1  & lst2))

print(output)

[9, 26, 11, 28]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [34]:
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}

max_unique = 0
max_key = None


for key,value in test_dict.items():
    unique_values = set(value)
    if len(unique_values)>max_unique:
        max_unique = len(unique_values)
        max_key = key
        
print(max_key)

CampusX

In [35]:
test_dict ={"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}

max_unique = 0
max_key = None


for key,value in test_dict.items():
    unique_values = set(value)
    if len(unique_values)>max_unique:
        max_unique = len(unique_values)
        max_key = key
        
print(max_key)

Best

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [36]:
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

words=test_str.split()


for i in range(len(words)):
    if words[i] in repl_dict:
        words[i] = repl_dict[words[i]]
    
new_Str=" ".join(words)

print(new_Str)

CampusX is the best channel for Data-Science students.

In [37]:
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}

words=test_str.split()


for i in range(len(words)):
    if words[i] in repl_dict:
        words[i] = repl_dict[words[i]]
    
new_Str=" ".join(words)

print(new_Str)

CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [38]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

dict_list = []

for i in range(0,len(test_list),len(key_list)):
    new_dict = dict(zip(key_list,test_list[i:i+len(key_list)]))
    dict_list.append(new_dict)
    
print(dict_list)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

In [39]:
test_list = ["CampusX", 10]
key_list = ["name", "id"]


dict_list = []

for i in range(0,len(test_list),len(key_list)):
    new_dict = dict(zip(key_list,test_list[i:i+len(key_list)]))
    dict_list.append(new_dict)
    
print(dict_list)

[{'name': 'CampusX', 'id': 10}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [40]:
input_list = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]


output_dict = {}

for i in input_list:
    key= i[0]
    value= [i[1]]
    output_dict[key]=value

print(output_dict)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

In [41]:
input_list = [('A', 1), ('B', 2), ('C', 3)]


output_dict = {}

for i in input_list:
    key= i[0]
    value= [i[1]]
    output_dict[key]=value

print(output_dict)

{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [21]:
my_dict={'c': [3], 'b': [12, 10], 'a': [19, 4]}

sorted_dict={key:sorted(value)for key,value in  sorted(my_dict.items())}

print(sorted_dict)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}

In [22]:
input_dict={'c': [10, 34, 3]}

sorted_dict={key:sorted(value)for key,value in  sorted(input_dict.items())}

print(sorted_dict)

{'c': [3, 10, 34]}