In [ ]:
#1)What is List? How will you reverse a list?
# list is mutebale fonction in ppython.
#ex:- l1[1,2,"smit,44,55,etr...."]


#how will you reverse a list.

l1=[1,33,66,57,89]
l1.reverse()

l1

In [ ]:
#2)How will you remove last object from a list?

l1=["smit","parth","kevin","harsh","paryag"]
l1.remove("paryag")


l1

In [ ]:
#3)Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

l1=2,33,222,14,25
print(l1)
    
print=(l1[::-1])

In [ ]:
#4)Differentiate between append () and extend () methods?

#ex: append

l1=[22,400.5,'jagruti',True,[44,66]]
l1.append(56)

l1

In [ ]:
#ex: exrend


l1=[22,400.5,'jagruti',True,[44,66]]
l1.extend([56,"a",33])

l1

In [ ]:
#5)Write a Python function to get the largest number, smallest num and sum 
#of all from a list.

#largest number

l1={11,22,45,46,67,990}
print(max(l1))

l1

In [ ]:
#smallest number

l1={11,22,45,46,67,990}
print(min(l1))

l1

In [ ]:
#6)How will you compare two lists?
l1=[1,3,7,5,8,9]
l2=[1,3,7,5,8,0]

if l1==l2:
    print (True)
else:
    print(False)

In [ ]:
#7)Write a Python program to count the number of strings where the string 
#length is 2 or more and the first and last character are same from a given 
#list of strings. 
words= ['abc','xyz','aba','1221','343']
count=0
for word in words:
    if len(word)>1 and word[0]==word[-1]:
        count+=1
print(count)

In [ ]:
#8)Write a Python program to remove duplicates from a list.

l1=[10,20,20,30,40,50]

l1=set()

l1

In [ ]:
#9) write a python program to chack a list is empty or not.

list1=[]

if len(list1)==0:
    print("the list is empty")
else:
    print("the list is not empty")

In [ ]:
#10)Write a Python function that takes two lists and returns true if they have 
#at least one common member.


l1=[1,2,3,4,5]
l2=[5,6,7,8,9]
for i in l1:
    for j in l2:
        if(i==j):
            print=(True)

In [ ]:
#12)Write a Python program to generate and print a list of first and last 5 
#elements where the values are square of numbers between 1 and 30.

#1to6
#6to26
#26to31

list=[]
for i in range(1,6):
    list+=[i**2]
    
for i in range(6,26):
    list+=[i]
    
for i in range(26,31):
    list+=[i**2]
    

print(list)

In [ ]:
#13)Write a Python function that takes a list and returns a new list with unique elements of the first list.

f=(1,2,3,2,4,5,6,5)
l=list(f)
for i in  l:
    if l.count(i)>1:
        l.remove(i)
        
f=tuple(l)
f

In [ ]:
#14)Write a Python program to convert a list of characters into a string.

list1=('s','m','i','t')
list2=''.join(list1)
list2

In [ ]:
#15)Write a Python program to select an item randomly from a list.

In [ ]:
#16)Write a Python program to find the second smallest number in a list.

In [ ]:
#17)Write a Python program to get unique values from a list.

f=(10,20,30,20,40,50,60,50)
l=list(f)
for i in  l:
    if l.count(i)>1:
        l.remove(i)
        
f=tuple(l)
f

In [ ]:
#18)Write a Python program to check whether a list contains a sub list.

def is_Sublist(l, s):
    sub_set = False
    if s == []:
        sub_set = True
    elif s == l:
        sub_set = True
    elif len(s) > len(l):
        sub_set = False

    else:
        for i in range(len(l)):
            if l[i] == s[0]:
                n = 1
                while (n < len(s)) and (l[i+n] == s[n]):
                        n += 1
                        if n == len(s):
                        sub_set = True
    return sub_set

In [ ]:
#19)Write a Python program to split a list into different variables.

color=[("black"),("blue"),("red","orenge")]
var1,var2,var3=color
print(var1)
print(var2)
print(var3)

In [ ]:
#20)What is tuple? Difference between list and tuple.

#->tuple are multiple items in a singal variable in one store.
#->tuple and kry differnce of key and tuple are immmuatable while list is mutable.

In [ ]:
#21)Write a Python program to create a tuple with different data types.

tuple1=tuple(("apple","smit","parth",33,66))
print(tuple1)
list1=[12,'python',67]
print(tuple(list1))

In [ ]:
21)Write a Python program to create a tuple with numbers.

t1=33,5,66,34,88
print(t1)

In [ ]:
#22)Write a Python program to convert a tuple to a string.

tuple1=['s','m','i','t','b','h','a','n','d','e','r','i'] 
str1= ''.join(tuple1)
print(str1)

In [ ]:
#23)Write a Python program to check whether an element exists within a tuple.

tuple=("smit","python","66","p")
print("smit"in tuple)
print("parth" in tuple)

In [ ]:
#24)Write a Python program to find the length of a tuple.


tuple="smitbhanderi"
count=0
while tuple[count:]:
    count=count+1
print(count)

In [ ]:
#25)Write a Python program to convert a list to a tuple.

list1=[5,22,56,778,999]
print(list1)

tuple1=tuple(list1)
print(tuple1)

In [2]:
#26)Write a Python program to reverse a tuple.

tuple1= ("1","22","333","444","555","7777")
tuple2=reversed(tuple1)
print(tuple(tuple2))

('7777', '555', '444', '333', '22', '1')

In [ ]:
#27)Write a Python program to replace last value of tuples in a list.

tuple1=