### Python Conditional Statements and loops

#### 1. Write a Python program to construct the following pattern, using a nested for loop. 

(double click here to see pattern)

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [6]:
n=5;
#upper 
for i in range(n):
    for j in range(i):
        print ('* ', end="")
    print('')
#lowwer
for i in range(n,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#### 2. Write a Python program to count the number of even and odd numbers from a series of numbers. 
* Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
##### Expected Output : 
* Number of even numbers : 5
* Number of odd numbers : 4

In [7]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) # Declaring the tuple
count_odd = 0
count_even = 0
for x in numbers:
        if not x % 2:
             count_even+=1
        else:
             count_odd+=1
print("Number of even numbers :",count_even)
print("Number of odd numbers :",count_odd)

Number of even numbers : 4
Number of odd numbers : 5

####  3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
* Note : Use 'continue' statement. 
* Expected Output : 0 1 2 4 5

In [11]:
for x in range(10):
    if (x == 3 or x==6):
        continue
    print(x,end=' ')
print("")

0 1 2 4 5 7 8 9

#### 4. Write a Python program to get the Fibonacci series between 0 to 50. 
##### Note : The Fibonacci Sequence is the series of numbers :
* 0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
* Every next number is found by adding up the two numbers before it.
* Expected Output : 1 1 2 3 5 8 13 21 34

In [12]:
x=0
y=1

while y<50:
    print(y)
    x,y = y,x+y

1
1
2
3
5
8
13
21
34

#### 5. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. 

##### Note :
* i = 0,1.., m-1 
* j = 0,1, n-1.

* Test Data : Rows = 3, Columns = 4 
* Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [14]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] 
              
              for row in range(row_num)]

for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 3
Input number of columns: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

#### 6. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [15]:
items = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        items.append(s)
print( ",".join(items))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

 #### 7. Write a Python program to print alphabet pattern 'A'.

#### 8. Write a Python program to print alphabet pattern 'P'

#### 9. Write a Python program to check a triangle is valid or not.

In [25]:
s1 = int(input("Enter the Triangle Side-1 :"))
s2 = int(input("Enter the Triangle Side-2 :"))
s3 = int(input("Enter the Triangle Side-3 :"))
sum = s1+s2+s3
if(sum==180):
    print("Triangle Valid..")
else:
    print("Triangle Not Valid..")

Enter the Triangle Side-1 :80
Enter the Triangle Side-2 :50
Enter the Triangle Side-3 :50
Triangle Valid..

#### 10. Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [27]:
n = int(input("Input a number: "))


for i in range(1,11):
       print(n,'x',i,'=',n*i)

Input a number: 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

#### 11. Write a Python program to construct the following pattern, using a nested loop number.
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [28]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999